//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

// resolutions

$phones: 480px;
$tablets: 768px;
$laptop: 992px;
$desktop: 1200px;

//normalize
@import "./_misc/normalize.scss";

// media
@import "./_misc/animations.scss";
@import "./_misc/media.scss";

// setups
@import "./_misc/mixins.scss";
@import "./_misc/fonts.scss";
@import "./_misc/layout.scss";

// ./blocks
@import "./blocks/best.scss";
@import "./blocks/btn.scss";
@import "./blocks/burger-slider-wrap.scss";
@import "./blocks/burger-weight.scss";
@import "./blocks/burgers.scss";
@import "./blocks/fixed-menu.scss";
@import "./blocks/footer.scss";
@import "./blocks/hamburger-menu-link.scss";
@import "./blocks/hamburger-menu.scss";
@import "./blocks/header.scss";
@import "./blocks/hero.scss";
@import "./blocks/logo.scss";
@import "./blocks/map.scss";
@import "./blocks/menu-acco.scss";
@import "./blocks/menu.scss";
@import "./blocks/nav.scss";
@import "./blocks/order-link.scss";
@import "./blocks/order.scss";
@import "./blocks/popups.scss";
@import "./blocks/reviews.scss";
<<<<<<< HEAD
@import "./blocks/section.scss";
@import "./blocks/socials.scss";
@import "./blocks/team-acco.scss";
@import "./blocks/team.scss";
@import "./blocks/text-block.scss";
=======
@import "./blocks/review.scss";
@import "./blocks/dots.scss";
@import "./blocks/team.scss";
>>>>>>> 57c793ca9ca69aa17aea3b514f448cc05161b174
