.btn {
<<<<<<< HEAD
	@include inlineblock();
	background: $orange;
	font-size: rem(13px);
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	text-decoration: none;
	border-radius: rem(5px);
	padding: rem(9px) rem(16px);
	@include ubuntu(medium);
	&:hover {
		background: #c1401e;
	  }
	}
=======
  background: $red;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 13px;
  display: inline-block;
  padding: 9px 17.5px;
}

.btn:hover {
  background: #c1401e;
}
>>>>>>> 57c793ca9ca69aa17aea3b514f448cc05161b174
