.slider__composition {
    display: none;
    border-radius: 5px;
    background: #ffffff;
    opacity: 80%;
    position: absolute;
    flex-flow: column nowrap;
    padding: rem(25px);
    margin-left: rem(90px);

    @include tablets {
        margin-left: rem(90px);
    }

    @include phones {}
}

.slider__composition-item {
    display: flex;
    align-items: center;
    padding: rem(5px) 0;
}

.slider__composition-icon {
    height: rem(43px);
    width: rem(43px);
    margin-right: rem(30px);
}

.slider__composition-text {
    width: rem(130px);
    font-size: rem(14px);
    font-weight: bold;
}

.slider__composition-size {
    text-align: right;
}

.slider__composition-btn {
    fill: rgb(255, 61, 61);
    width: rem(15px);
    height: rem(15px);
    display: block;
    position: absolute;
    right: rem(20px);
    opacity: .7;
    transition: .3s;

    &:hover {
        opacity: 1;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.slider__composition-close {
    display: none;
    @include tablets {
        display: flex;
    }
}

.slider__left-structure:hover .slider__composition {
    display: flex;
}