.feature {
  text-align: center;
}

.feature__img {
  display: flex;
  justify-content: center;
}

.feature__title {
  @include lifehack();
  font-size: 24px;
  line-height: 28.14px;
  letter-spacing: -0.6px;
  padding-top: 38px;
  margin: 0;
}

.feature__text {
  padding-top: 19px;
  opacity: 0.8;
  font-size: 14px;
  line-height: 24.07px;
}