.slider {
  background-image: linear-gradient(0deg, #f9b33b 0%, #ea8c38 48%, #f9b33b 74%);
}

.slider__section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
}

.slider__content {
  display: flex;
  height: rem(600px);
  margin: rem(100px) 0;

  @include tablets {
    flex-direction: column;
    height: rem(1000px);
  }

  @include phones {
    height: rem(700px);
  }
}

.slider__right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  padding-right: 5%;


  @include tablets {
    text-align: center;
    padding-left: 10%;
    float: none;
    width: 100%;

    @include phones {
      padding: 3%;
    }
  }
}

.slider__left {
  padding-top: 10%;

  @include tablets {
    // padding: 0;
    // margin: 0;
  }

  @include phones {
    padding: 0;
    margin: 0;
  }

}

.slider__left,
.slider__right {
  float: left;
  width: 50%;

  @include tablets {
    float: none;
    width: 100%;
  }
}

.slider__links {
  display: flex;

  @include phones {}
}

.right-arrow {
  transform: rotate(270deg);
  right: 0;
}

.left-arrow {
  transform: rotate(90deg);
  left: 0;
}

.left-arrow,
.right-arrow {
  position: absolute;
  transition: .3s;
  display: flex;

  @include tablets {}

  &:hover {

    .left-arrow__icon,
    .right-arrow__icon {
      margin-bottom: rem(-15px);
      width: rem(35px);
      height: rem(30px);
    }
  }
}

.left-arrow__icon,
.right-arrow__icon {
  width: rem(35px);
  height: rem(20px);
  transition: .3s;
}

.slider__menu-img {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  max-height: rem(400px);
  margin-top: 22%;


  @include tablets {
    max-width: 80%;
    padding: 0;
    margin-top: 5%;
  }

  @include phones {
    margin-top: 20%;
  }
}

.slider__left-item {
  position: absolute;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: rem(500px);

  @include tablets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: rem(-230px);
    margin-left: rem(150px);
  }

  @include phones {
    margin-top: rem(-130px);
    margin-left: rem(0px);
  }
}

.slider__left-calories {

  @include tablets {
    margin-left: rem(280px);
  }

  @include phones {
    margin-left: rem(200px);
  }
}

.slider__left-structure {
  display: flex;
  flex-direction: row;

  @include tablets {}

  @include phones {
    // margin-top: rem(-330px);
  }
}

.slider__structure {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #e34f27;
  border-radius: rem(5px);
  text-decoration: none;
  opacity: 60%;

  @include tablets {}

  @include phones {}
}

.slider__structure:hover {
  background-color: #e34f27;
  opacity: 100%;
}

.slider__calories {
  text-decoration: none;
}

.slider__text-calories {
  font-size: rem(5px);
  margin-top: rem(-37px);

}

.slider__icon-pic {
  height: rem(50px);
  width: rem(70px);
  margin: rem(10px);

  svg {
    max-width: 60%;
  }

  @include phones {
    position: static;
    transform: none;
  }
}

.slider__item-text {
  @include gagalin;
  text-decoration: none;
  font-size: rem(14px);
  text-align: center;
  color: #fff;
}

.slider__text-content {
  color: #fff;
}

.slider__links {
  display: flex;
  align-items: center;
}

.section__title_red {
  color: #c1401e;
  letter-spacing: rem(-2px);

  &.slider__title-link {
    font-size: rem(35px);
    margin-bottom: rem(-12px);
    padding: 0 rem(20px) 0 rem(20px);

    @include phones {
      line-height: rem(50px);
    }
  }

}

.section__title-slider {
  color: #fff;
  line-height: rem(70px);

  @include phones {
    font-size: rem(45px);
    line-height: rem(40px);
    text-align: center;
  }
}